@charset "utf-8";


/* 드래그 */
::selection {
    color: #fff;
    background-color: #000;
}

/* 드래그 */

/* 스크롤 */
html {
    scroll-behavior: smooth;
}

/* 스크롤바 */
body::-webkit-scrollbar {
    /*스크롤바 전체*/
    width: 10px;
}

body::-webkit-scrollbar-thumb {
    /*스크롤바 막대*/
    background-color: #0e0e0e;
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
}

body::-webkit-scrollbar-track {
    /*스크롤바 막대 외부*/
    background-color: grey;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
}

/* 스크롤바 */
/* 스크롤 */

/* 마우스 */
html,
a,
iframe {
    cursor: none;
}

#cursor {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    pointer-events: none;
    will-change: transform;
    mix-blend-mode: difference;
}

@media (hover: hover) and (pointer: fine) {
    .cursor__circle {
        width: 15px;
        height: 15px;
        margin-top: -50%;
        margin-left: -50%;
        border-radius: 50%;
        border: solid 3px #733232;
        mix-blend-mode: difference;
        transition: opacity 0.3s cubic-bezier(0.25, 1, 0.5, 1),
            background-color 0.3s cubic-bezier(0.25, 1, 0.5, 1),
            border-color 0.3s cubic-bezier(0.25, 1, 0.5, 1),
            width 0.3s cubic-bezier(0.25, 1, 0.5, 1),
            height 0.3s cubic-bezier(0.25, 1, 0.5, 1);
    }

    #cursor.arrow .cursor__circle {
        width: 100px;
        height: 100px;
        background-color: #733232;
        border-color: #733232;
    }

}

/* 마우스 */


* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
}

body {
    font-family: 'Pretendard';
    font-size: 16px;
    color: #333;
    line-height: 1.2;
    min-width: 1320px;
}

/* 헤더 */
header {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #eeeeee73;
    text-align: center;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.2);
}

header::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: ease 0.5s all;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);

}


.main_logo {
    display: block;
    position: relative;
}

.nav1 {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    right: 50px;
}

.nav1 li {
    margin-left: 20px;
    box-sizing: border-box;

}

/* 메뉴창 */
/* 메뉴 버튼 */
.menu-btn {
    border: none;
    background: none;
    position: absolute;
    right: 40px;
    top: 0px;
    width: 120px;
    height: 40px;
    z-index: 10;
    overflow: hidden;
}

.menu-btn .content {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
}

.menu-btn .content .text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) translateY(var(--translate-y));
    transition: transform 150ms ease;
    font-weight: 900;
    font-size: 25px;
    padding: 10px;
}

.menu-btn .content .text:nth-child(1) {
    --translate-y: 0;
    color: #333333;
}

.menu-btn .content .text:nth-child(2) {
    --translate-y: 150%;
    color: #333333;
}

.menu-btn.active .content .text:nth-child(1) {
    --translate-y: -150%;
}

.menu-btn.active .content .text:nth-child(2) {
    --translate-y: 0;
}


/* 메뉴버튼호버 */
.menu-btn .content:hover .text {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: #000;
    color: #fff;
    border-radius: 50px;
    box-sizing: border-box;
}


/* 메뉴네비 */
.nav {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    display: none;
}

.nav::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: #ffffff6b;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(12px);
}

.nav__inner {
    width: 100%;
    height: 100%;
    pointer-events: none;
}


.nav .nav__inner .nav--items {
    width: 100%;
    height: 100%;
    margin: 50px 150px;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.nav .nav__inner .nav--items .nav--item {
    position: relative;
    width: 50%;
}

.nav .nav__inner .nav--items .nav--item-link .nav--link {
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    align-items: center;
    transform: translateY(100%);
}

.nav .nav__inner .nav--items .nav--item-link .nav--link-text {
    font-family: 'Averia Serif', sans-serif;
    height: 100%;
    position: relative;
    font-weight: 800;
    font-size: 6vw;
    color: transparent;
    -webkit-text-stroke: 3px #333333;
    overflow: hidden;
}

.nav .nav__inner .nav--items .nav--item-link .nav--link-text::after {
    content: attr(data-text);
    position: absolute;
    left: 0;
    top: 0;
    color: #333333;
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
    transition: clip-path 400ms ease;
}

.nav .nav__inner .nav--items .nav--item-link .nav--link:hover .nav--link-text::after {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.nav .nav__inner .nav--transition-slide {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: scaleX(0);
}


/* 순서 */
.nav--item:nth-child(1) {
    order: 1;
}

.nav--item:nth-child(2) {
    order: 3;
}

.nav--item:nth-child(3) {
    order: 5;
}

.nav--item:nth-child(4) {
    order: 7;
}

.nav--item:nth-child(5) {
    order: 2;
}

.nav--item:nth-child(6) {
    order: 4;
}

.nav--item:nth-child(7) {
    order: 6;
}

.nav--item:nth-child(8) {
    order: 8;
}


/* 검색창 */

.no_hover:hover {
    opacity: 0.3;
}

.search_wrap {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 40;
}

.search {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 50;
}

.search_wrap::before {
    content: "";
    position: absolute;
    background-color: rgba(41, 41, 41, 0.733);
    backdrop-filter: blur(12px);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10;
}

.search h1 {
    font-family: 'Pretendard';
    color: #fff;
    font-weight: 700;
    text-align: center;
    font-size: 100px;
}

/* input_txt */
.search input[type=text] {
    width: 800px;
    font-size: 30px;
    color: #eee;
    text-align: center;
    font-size: 50px;
    padding: 30px;
    border: none;
    outline: none;
    background: none;
    box-sizing: border-box;
}

.search input[type=text]::placeholder {
    text-align: center;
    color: #c4c4c4;
    font-size: 50px;
    font-style: italic;
}

/* 버튼 */
.btn {
    text-align: center;
    color: #999;
    position: fixed;
    top: 120%;
    left: 50%;
    transform: translate(-50%, -50%);
    outline: none;
    background: none;
    box-shadow: none;
    padding: 16px;
    font-size: 16px;
    border-radius: 10px;
}

.btn:hover{
    background-color: #333333;
    color: #fff;
}


/* x버튼 */
.x_btn {
    position: fixed;
    top: 10px;
    right: 30px;
    font-size: 50px;
    font-weight: bold;
    text-decoration: none;
    color: #eee;
    transition: .5s ease;
    transform-origin: 50% 50%;
    z-index: 55;
}

.x_btn::after {
    content: "\00d7";
    border-radius: 0;
    color: #eee;
    font-size: 50px;
}

.nav1 .x_btn:hover {
    transform: rotate(90deg);
    border-radius: 0;
    background-color: transparent;
    color: #eee;
}

/* 헤더 */


/* 내용 */
h1,
h2,
h3,
h4 {
    font-family: 'Averia Serif', sans-serif;
}

.con1 {
    margin: auto;
    height: 892px;
    background: url(../images/sub01_bg1.png) no-repeat center center;
    text-align: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 250px;
    box-sizing: border-box;
    z-index: -4;
}

h1 {
    font-size: 120px;
}

/* con1 */
.con1 h1 {
    letter-spacing: -5px
}

h3 {
    margin: 100px 0 40px;
    font-size: 45px;
}

.con1 p {
    font-size: 30px;
    font-weight: bold;
    line-height: 1.4;
}

/* con2 */
.con2 {
    position: relative;
    height: 940px;
    /* 화면 전체 높이를 차지하도록 설정 */
    overflow: hidden;
    /* 비디오와 콘텐츠가 부모 컨테이너를 넘치지 않도록 함 */
}

.bg-video__content {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
    /* background-size: cover 와 비슷함. (HTML 요소 or 비디오와 작동) */
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    /* 비디오를 배경으로 만듦 */
}

.wrap_fade_up {
    position: relative;
    z-index: 1;
    /* 콘텐츠가 비디오 위에 오도록 함 */
    height: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.info_logo {
    display: block;
    margin-bottom: 20px;
    /* 텍스트 박스와 간격 조정 */
}

.con2_txt_box {
    width: 1558px;
    margin: 200px auto 0;
    line-height: 1.5;
    color: #eee;
    font-size: 32px;
    font-weight: bold;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    text-align: left;
}


/* con3~5 bg */
.bg_wrap {
    height: auto;
    display: block;
    margin: auto;
    background: url(../images/sub01_big_bg.png) no-repeat top center;
    background-size: cover;
    padding: 100px 0 200px;
    overflow: hidden;
}

.con3,
.con4,
.con5 {
    width: 1320px;
    margin: auto;
}

h2 {
    font-size: 110px;
    font-weight: bold;
    line-height: 1;
    letter-spacing: -5px
}

.txt_box {
    width: 1040px;
    margin-top: 50px;
    font-size: 25px;
    font-weight: bold;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
}

.more {
    font-family: 'Pretendard';
    font-size: 40px;
    font-weight: 500;
}


/* con3 */
.con3 {
    height: 890px;
}


.con3 .img_box {
    width: 1262px;
    margin: 100px 0;
    position: relative;
}

.con3_1 {
    position: absolute;
}

.con3_2 {
    position: absolute;
    left: 420px;
    top: 30px;
}

.con3_3 {
    position: absolute;
    top: 30px;
    left: 760px;
}


/* con4 */
.con4 {
    height: 937px;
    padding-top: 150px;
}

.img_box2 {
    width: 1160px;
    margin: auto;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img_wrap {
    width: 393px;
    height: 395px;
    position: relative;
}

.img_wrap[data-aos^=fade][data-aos^=fade] {
    opacity: 1;
}

.line {
    width: 217px;
    height: 15px;
    position: absolute;
    top: 190px;
    left: 350px;

}

.img_box2>div {
    width: 393px;
    height: 395px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.2);
}

.img_box2 .bg {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    /* 요소 뒤에서 효과 적용 */
    box-shadow: 2px 7px 15px 8px rgba(0, 0, 0, 0.05);
    /* 요소를 반투명 처리 해준 후 */
    backdrop-filter: blur(10px);

}

.wlb_txt {
    width: 214px;
    height: 247px;
    position: absolute;
    top: 70px;
    left: 100px;
}

/* con5 */
.con5 {
    margin-top: 100px;
}

.img_box3 {
    position: relative;
    width: 1320px;
    height: 300px;
    margin: auto;
}

.txt_box_in {
    width: 700px;
    margin: 100px auto 0;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    justify-content: space-between;
    align-self: center;
    font-family: 'Averia Serif', sans-serif;
    font-size: 30px;
    font-weight: bold;
}

.con5_left {
    width: 900px;
    font-family: 'Averia Serif', sans-serif;
    font-size: 45px;
    font-weight: bold;
    color: #eee;
    background-color: #000;
    padding: 80px 100px;
    border-radius: 0 107px 107px 0;
    position: absolute;
    left: -2000px;
    top: 30px;
    text-align: right;
    transform: translateX(100%);
    transition: transform 1s ease-out;
}

.on {
    transform: translateX(150%);
}

.Mugs {
    position: absolute;
    left: 660px;
    top: -20px;
}

.Spill {
    position: absolute;
    left: 780px;
    top: 90px;
}

.teapot {
    position: absolute;
    left: 1050px;
    top: -80px;
}

.small {
    font-size: 80px;
}


/* con6 */
.con6>h1 {
    line-height: 0.6;
}

.con6 {
    text-align: center;
    margin-top: 100px;
}

/*큐브 */
.swiper-container {
    margin-top: 100px;
    width: 820px;
    height: 520px;
}

.swiper-slide {
    text-align: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px silver inset;
    box-sizing: border-box;
    position: relative;
}

.swiper-slide>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content-below-cube {
    width: 100%;
    height: auto;
    position: absolute;
    bottom: -230px;
    left: 0;
    padding: 20px;
}

.slide_title {
    font-size: 35px;
    font-weight: bold;
    display: inline-block;
    margin-bottom: 15px;
}

.content-below-cube p {
    font-size: 25px;
    line-height: 1.3;
}

.myswiper {
    width: 80%;
    padding: 0 18vw;
    box-sizing: border-box;
}


/* wwu */
.wwu {
    display: block;
    width: 1000px;
    height: 190px;
    margin: 300px auto 100px;
    box-shadow: 10px 10px 10px rgb(201, 201, 201);
    transition: .3s;
}

.wwu:hover {
    transform: translate(10px, 10px);
    box-shadow: 0px 0px 0px rgb(201, 201, 201);
}

/* 내용 */


/* 푸터 */
footer {
    margin: 50px auto 20px;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.left_box {
    width: 566px;
    margin-left: 30px;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.sns_wrap {
    width: 250px;
    box-sizing: border-box;
    margin-right: 120px;
}

.sns_on {
    padding-left: 5px;
}

.sns_on:hover {
    opacity: 0.5;
}

.right_box {
    margin-right: 30px;
    text-align: right;
    position: relative;
}

.right_box_in {
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.top_btn {
    width: 42px;
    height: 33px;
    display: inline-block;
    margin: 0 15px 15px 0;
}

.b2b_login {
    font-size: 25px;
    font-weight: bolder;
    position: absolute;
    top: -18px;
    right: 0;
}

.b2b_login:hover,
.more:hover {
    font-style: italic;
}

/* 푸터 */

/* 문의창 */
.help {
    width: 94px;
    height: 84px;
    background: url(../images/help_icon.png) no-repeat;
    position: fixed;
    bottom: 85px;
    right: 35px;
    animation: help_ani 1.5s infinite alternate;
}

.help:hover {
    width: 111px;
    height: 74px;
    background: url(../images/help_hover.png) no-repeat;
    animation: none;
}

@keyframes help_ani {
    0% {
        transform: translateY(20px);
    }

    0% {
        transform: translateY(-25px);
    }
}

/* 팝업 */
.popup img{
    display: block;
  }  

.popup {
    position: fixed;
    bottom: 70px;
    right: 35px;
    display: none;
}

.pop_btn {
    width: 290px;
    position: absolute;
    top: 190px;
    right: 40px;
    transition: .3s;
}

.pop_btn:hover{
    filter: brightness(1.3); 
    transform: translate(2px, 2px);
}

.popup_in {
    width: 250px;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 35px;
    left: 60px;
}

.pop_home:hover, .pop_conver:hover, .pop_setting:hover {
    opacity: 0.4;
}


/* 문의창 */