@charset "utf-8";

/* 드래그 */
::selection {
    color: #fff;
    background-color: #000;
}

/* 드래그 */

html {
    scroll-behavior: smooth;
}

/* 마우스 */
html,
a,
iframe {
    cursor: none;
}

a:hover {
    text-decoration: none;
}

#cursor {
    position: fixed;
    z-index: 99;
    left: 0;
    top: 0;
    pointer-events: none;
    will-change: transform;
    mix-blend-mode: difference;
}

@media (hover: hover) and (pointer: fine) {
    .cursor__circle {
        width: 15px;
        height: 15px;
        margin-top: -50%;
        margin-left: -50%;
        border-radius: 50%;
        border: solid 3px #733232;
        mix-blend-mode: difference;
        transition: opacity 0.3s cubic-bezier(0.25, 1, 0.5, 1),
            background-color 0.3s cubic-bezier(0.25, 1, 0.5, 1),
            border-color 0.3s cubic-bezier(0.25, 1, 0.5, 1),
            width 0.3s cubic-bezier(0.25, 1, 0.5, 1),
            height 0.3s cubic-bezier(0.25, 1, 0.5, 1);
    }

    #cursor.arrow .cursor__circle {
        width: 100px;
        height: 100px;
        background-color: #733232;
        border-color: #733232;
    }

}

/* 마우스 */


* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
}

body {
    font-family: 'Pretendard';
    font-size: 16px;
    color: #333;
    line-height: 1.2;
    /* 비디오를 페이지 전체 배경으로 설정합니다. */
    background-size: cover;
    background-position: center;
    /* 비디오 재생 설정 */
    overflow: hidden;
    min-width: 1320px;
    height: 100vh;
}

/* 로딩페이지 */

.spinner {
    background-color: #050505;
    margin: 0px auto 0;
    width: 100%;
    height: 100%;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    box-sizing: border-box;
}

.wrap_b>div {
    width: 30px;
    height: 30px;
    background-color: #eee;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.wrap_b{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 100%);
}

.bounce2 {
    margin: 0 10px;
}

.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {

    0%,
    80%,
    100% {
        -webkit-transform: scale(0)
    }

    40% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes sk-bouncedelay {

    0%,
    80%,
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    40% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}

.spinner p {
    font-family: 'Pretendard';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    color: #eee;
    font-size: 50px;
    opacity: 0;
}

.spinner p:nth-child(4) {
    animation: text 1s linear;
}

.spinner p:nth-child(5) {
    animation: text 1s 1s linear;
}

.spinner p:nth-child(6) {
    animation: text 1s 2s linear;
}

.spinner p:nth-child(7) {
    animation: text 1s 3s linear;
}

.spinner p:nth-child(8) {
    animation: text 1s 4s linear;
}

.spinner p:nth-child(9) {
    animation: text 1s 5s linear;
}


@keyframes text {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/* 로딩페이지 */

/* 스크롤바 */
body::-webkit-scrollbar {
    /*스크롤바 전체*/
    width: 10px;
}

body::-webkit-scrollbar-thumb {
    /*스크롤바 막대*/
    background-color: #0e0e0e;
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
}

body::-webkit-scrollbar-track {
    /*스크롤바 막대 외부*/
    background-color: grey;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
}

/* 스크롤바 */


/* 헤더 */
header {
    margin: 10px auto;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo_b {
    display: block;
    margin-left: 30px;
}

.nav {
    width: 538px;
    margin: auto;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    justify-content: space-between;
}

.nav li a,
.side_menu li a {
    display: block;
    font-size: 22px;
    font-weight: 900;
    padding: 2.5px 10px;

}

.nav li a:hover,
.side_menu li a:hover {
    border-radius: 50px;
    background: #000;
    color: #fff;
}

.side_menu {
    width: 170px;
    margin-right: 50px;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.side_menu li a {
    font-size: 20px;
}

.side_menu li .no_hover:hover {
    background: #fff;
    opacity: 0.3;
}


/* 검색창 */
.search_wrap {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 40;
}

.search {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 50;
}

.search_wrap::before {
    content: "";
    position: absolute;
    background-color: rgba(41, 41, 41, 0.733);
    backdrop-filter: blur(12px);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10;
}

.search h1 {
    font-family: 'Pretendard';
    color: #fff;
    font-weight: 700;
    text-align: center;
    font-size: 100px;
}

/* input_txt */
.search input[type=text] {
    width: 800px;
    font-size: 30px;
    color: #eee;
    text-align: center;
    font-size: 50px;
    padding: 30px;
    border: none;
    outline: none;
    background: none;
    box-sizing: border-box;
}

.search input[type=text]::placeholder {
    text-align: center;
    color: #c4c4c4;
    font-size: 50px;
    font-style: italic;
}

/* 버튼 */
.btn {
    text-align: center;
    color: #999;
    position: fixed;
    top: 120%;
    left: 50%;
    transform: translate(-50%, -50%);
    outline: none;
    background: none;
    box-shadow: none;
    padding: 16px;
    font-size: 16px;
    border-radius: 10px;
}

.btn:hover {
    background-color: #333333;
    color: #fff;
}

/* x버튼 */
.x_btn {
    position: fixed;
    top: 10px;
    right: 30px;
    font-size: 50px;
    font-weight: bold;
    text-decoration: none;
    color: #eee;
    transition: .5s ease;
    transform-origin: 50% 50%;
    z-index: 55;
}

.x_btn::after {
    content: "\00d7";
    border-radius: 0;
    color: #eee;
    font-size: 50px;
}

.side_menu .x_btn:hover {
    transform: rotate(90deg);
    border-radius: 0;
    background-color: transparent;
    /* 혹은 원하는 색상 */
    color: #eee;
}

/* 검색창 */
/* 헤더 */

/* 내용 */
.main {
    box-sizing: border-box;
}

/* 흘러가는 글자 */
.marquee {
    height: 172px;
    overflow: hidden;
    position: relative;
}

.marquee div {
    width: 200%;
    height: 100%;
    background: url(../images/marquee.png) repeat-x;
    position: absolute;
    animation: marquee 10s linear infinite;
}

@keyframes marquee {
    0% {
        left: 0;
    }

    100% {
        left: -100%;
    }
}

/* 흘러가는 글자 */


.con_wrap {
    width: 822px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    justify-content: space-between;
}

.circle {
    width: 218px;
    height: 218px;
    background: #1a1a1a;
    border-radius: 100%;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
}

/* 비디오 */
video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    display: none;
    /* 초기에는 비디오를 숨깁니다. */
}

/* 비디오 */

.text_box {
    opacity: 0;
    font-size: 100px;
    font-weight: bold;
    transition: 1s;
}

.circle:hover {
    background: transparent;
}

.circle:hover .text_box {
    opacity: 1;
}

/* 내용 */

/* 푸터 */
footer {
    position: absolute;
    bottom: 20px;
    width: 100%;
    margin: auto;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.left_box {
    width: 566px;
    margin-left: 30px;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.sns_wrap {
    width: 250px;
    box-sizing: border-box;
    margin-right: 120px;
}

.sns_on {
    padding-left: 5px;
}

.sns_on:hover {
    opacity: 0.5;
}

.right_box {
    margin-right: 30px;
    text-align: right;
}

.b2b_login {
    font-size: 25px;
    font-weight: bolder;
}

.b2b_login:hover {
    font-style: italic;
}

/* 푸터 */

/* 문의창 */
.help {
    width: 94px;
    height: 84px;
    background: url(../images/help_icon.png) no-repeat;
    position: fixed;
    bottom: 70px;
    right: 35px;
    animation: help_ani 1.5s infinite alternate;
}

.help:hover {
    width: 111px;
    height: 74px;
    background: url(../images/help_hover.png) no-repeat;
    animation: none;
}

@keyframes help_ani {
    0% {
        transform: translateY(20px);
    }

    0% {
        transform: translateY(-25px);
    }
}

/* 팝업 */
.popup img{
  display: block;
}

.popup {
    position: fixed;
    bottom: 70px;
    right: 35px;
    display: none;
}

.pop_btn {
    width: 290px;
    position: absolute;
    top: 190px;
    right: 40px;
    transition: .3s;
}

.pop_btn:hover{
    filter: brightness(1.3); 
    transform: translate(2px, 2px);
}

.popup_in {
    width: 250px;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 35px;
    left: 60px;
}


.pop_home:hover, .pop_conver:hover, .pop_setting:hover {
    opacity: 0.4;
}

/* 문의창 */