@charset "utf-8";

/* 드래그 */
::selection {
    color: #fff;
    background-color: #000;
}

/* 마우스 */
html,
a,
iframe {
    cursor: none;
}

#cursor {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    pointer-events: none;
    will-change: transform;
    mix-blend-mode: difference;
}

@media (hover: hover) and (pointer: fine) {
    .cursor__circle {
        width: 15px;
        height: 15px;
        margin-top: -50%;
        margin-left: -50%;
        border-radius: 50%;
        border: solid 3px #733232;
        mix-blend-mode: difference;
        transition: opacity 0.3s cubic-bezier(0.25, 1, 0.5, 1),
            background-color 0.3s cubic-bezier(0.25, 1, 0.5, 1),
            border-color 0.3s cubic-bezier(0.25, 1, 0.5, 1),
            width 0.3s cubic-bezier(0.25, 1, 0.5, 1),
            height 0.3s cubic-bezier(0.25, 1, 0.5, 1);
    }

    #cursor.arrow .cursor__circle {
        width: 100px;
        height: 100px;
        background-color: #733232;
        border-color: #733232;
    }

}
/* 마우스 */

body {
    font-family: 'Pretendard';
    font-size: 16px;
    color: #333;
    line-height: 1.2;
    min-width: 1320px;
}

* {
    box-sizing: border-box;
}

/* body {
    margin: 0;
    padding: 0;
} */

/* 로그인 wrap */
.wrapper2 {
    width: 100%;
    height: 86vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ebecf011;
    overflow: hidden;
}

/* .wrapper2::before {
    width: 100%;
    height: 100vh;
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    backdrop-filter: blur(5px);
} */

/* 버블 */
.bg_bb{
    width: 100%;
    height: 100%;
    /* overflow: hidden; */
}

.bg_bb img {
    position: fixed;
    animation: move 3s linear infinite alternate;
     z-index: -5;
}

@keyframes move {
    from {
        transform: translateY(30px);
    }

    to {
        transform: translateY(-30px);
    }
}

.bg_bb img:nth-child(1){
    top: 10%;
    left: 10%;
    opacity: 0.4;
    animation-delay: .5s;
}

.bg_bb img:nth-child(2){
    top: 14%;
    left: 50%;
    opacity: 0.5;
}

.bg_bb img:nth-child(3){
    top: 46%;
    left: -10%;
    animation-delay: .2s;
}

.bg_bb img:nth-child(4){
    top: 0%;
    opacity: 0.7;
    left: 60%;
}

.bg_bb img:nth-child(5){
    top: 25%;
    left:83%;
    animation-delay: .3s;
}

.bg_bb img:nth-child(6){
    top: 2%;
    left:15%;
    opacity: 0.6;
}

/* 로그인 */
.container2 {
    border-radius: 10px;
    box-shadow: -5px -5px 10px #ffffff, 5px 5px 10px #babebc;
    position: absolute;
    width: 900px;
    min-height: 500px;
    overflow: hidden;
    margin-top: 100px;
}

.container2 form {
    background: #ebecf0;
    display: flex;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.container2 form input {
    background: #eee;
    padding: 16px;
    margin: 8px 0;
    width: 85%;
    border: 0;
    outline: none;
    border-radius: 20px;
    box-shadow: inset 7px 2px 10px #babebc, inset -5px -5px 12px #fff;
}

.wrapper2 button {
    border-radius: 20px;
    border: none;
    outline: none;
    font-size: 12px;
    font-weight: bold;
    padding: 15px 45px;
    margin: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    transition: transform 80ms ease-in;
}

.container2 .form_btn {
    box-shadow: -5px -5px 10px #fff, 5px 5px 8px #babebc;
}

.container2 .form_btn:active {
    box-shadow: inset 1px 1px 2px #babebc, inset -1px -1px 2px #fff;
}

.overlay-left .overlay_btn {
    background-color: #733232;
    color: #fff;
    box-shadow: -5px -5px 10px #8b4242, 5px 5px 8px #502929;
}

.overlay-left .overlay_btn:active {
    background-color: #7e3e3e;
    box-shadow: inset 1px 1px 2px #503333, inset -1px -1px 2px #8b4242;
}

.overlay-right .overlay_btn {
    background-color: #a67665;
    color: #fff;
    box-shadow: -5px -5px 10px #be8976, 5px 5px 8px #774537;
}

.overlay-right .overlay_btn:active {
    background-color: #b97a62;
    box-shadow: inset 1px 1px 2px #774537, inset -1px -1px 2px #be8976;
}

.container2 .sign-in-container {
    position: absolute;
    left: 0;
    width: 50%;
    height: 100%;
    transition: all 0.5s;
}

.sign-up-container {
    position: absolute;
    left: 0;
    width: 50%;
    height: 100%;
    opacity: 0;
    transition: all 0.5s;
}

.overlay-left {
    text-align: center;
    display: -ms-flexbox;
    display: -moz-box;
    display: -webkit-box;
    display: flex;
    flex-direction: column;
    padding: 0 50px;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
    opacity: 0;
    background-color: #733232;
    color: #fff;
    transition: all 0.5s;
}

.overlay-right {
    text-align: center;
    display: -ms-flexbox;
    display: -moz-box;
    display: -webkit-box;
    display: flex;
    flex-direction: column;
    padding: 0 50px;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
    background-color: #a67665;
    color: #fff;
    transition: all 0.5s;
}

.container2.right-panel-active .sign-in-container {
    transform: translateX(100%);
    opacity: 0;
}

.container2.right-panel-active .sign-up-container {
    transform: translateX(100%);
    opacity: 1;
    z-index: 2;
}

.container2.right-panel-active .overlay-right {
    transform: translateX(-100%);
    opacity: 0;
}

.container2.right-panel-active .overlay-left {
    transform: translateX(-100%);
    opacity: 1;
    z-index: 2;
}

.container2 form h1 {
    font-weight: bold;
    margin-bottom: 10px;
    color: #000;
}

.container2 p {
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
}

.container2 span {
    font-size: 12px;
    color: #000;
    letter-spacing: 0.5px;
    margin-bottom: 10px;
}
/* 로그인 */

/* 마우스 */
html,
a,
iframe {
    cursor: none;
}

#cursor {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    pointer-events: none;
    will-change: transform;
    mix-blend-mode: difference;
}

@media (hover: hover) and (pointer: fine) {
    .cursor__circle {
        width: 15px;
        height: 15px;
        margin-top: -50%;
        margin-left: -50%;
        border-radius: 50%;
        border: solid 3px #733232;
        mix-blend-mode: difference;
        transition: opacity 0.3s cubic-bezier(0.25, 1, 0.5, 1),
            background-color 0.3s cubic-bezier(0.25, 1, 0.5, 1),
            border-color 0.3s cubic-bezier(0.25, 1, 0.5, 1),
            width 0.3s cubic-bezier(0.25, 1, 0.5, 1),
            height 0.3s cubic-bezier(0.25, 1, 0.5, 1);
    }

    #cursor.arrow .cursor__circle {
        width: 100px;
        height: 100px;
        background-color: #733232;
        border-color: #733232;
    }

}

/* 마우스 */


* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
}

body {
    font-family: 'Pretendard';
    font-size: 16px;
    color: #333;
    line-height: 1.2;
    min-width: 1320px;
}

/* 헤더 */
header {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #eeeeee73;
    text-align: center;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.2);
}

header::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: ease 0.5s all;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);

}

.main_logo {
    display: block;
    position: relative;
}

.nav1 {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    right: 50px;
}

.nav1 li {
    margin-left: 20px;
    box-sizing: border-box;

}

/* 메뉴창 */
/* 메뉴 버튼 */
.menu-btn {
    border: none;
    background: none;
    position: absolute;
    right: 40px;
    top: 0px;
    width: 120px;
    height: 40px;
    z-index: 10;
    overflow: hidden;
}

.menu-btn .content {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
}

.menu-btn .content .text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) translateY(var(--translate-y));
    transition: transform 150ms ease;
    font-weight: 900;
    font-size: 25px;
    padding: 10px;
}

.menu-btn .content .text:nth-child(1) {
    --translate-y: 0;
    color: #333333;
}

.menu-btn .content .text:nth-child(2) {
    --translate-y: 150%;
    color: #333333;
}

.menu-btn.active .content .text:nth-child(1) {
    --translate-y: -150%;
}

.menu-btn.active .content .text:nth-child(2) {
    --translate-y: 0;
}




/* 메뉴버튼호버 */
.menu-btn .content:hover .text {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    /* padding: 10px; */
    background: #000;
    color: #fff;
    border-radius: 50px;
    box-sizing: border-box;
}


/* 메뉴네비 */
.nav {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    display: none;
}

.nav::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: #ffffff6b;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(12px);
}

.nav__inner {
    width: 100%;
    height: 100%;
    pointer-events: none;
}


.nav .nav__inner .nav--items {
    width: 100%;
    height: 100%;
    margin: 50px 150px;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.nav .nav__inner .nav--items .nav--item {
    position: relative;
    width: 50%;
    /* margin-bottom: 2rem; */
}

.nav .nav__inner .nav--items .nav--item-link .nav--link {
    /* display: block; */
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    align-items: center;
    transform: translateY(100%);
}

.nav .nav__inner .nav--items .nav--item-link .nav--link-text {
    font-family: 'Averia Serif', sans-serif;
    height: 100%;
    position: relative;
    font-weight: 800;
    font-size: 6vw;
    color: transparent;
    -webkit-text-stroke: 3px #333333;
    overflow: hidden;
}

.nav .nav__inner .nav--items .nav--item-link .nav--link-text::after {
    content: attr(data-text);
    position: absolute;
    left: 0;
    top: 0;
    color: #333333;
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
    transition: clip-path 400ms ease;
}

.nav .nav__inner .nav--items .nav--item-link .nav--link:hover .nav--link-text::after {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.nav .nav__inner .nav--transition-slide {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: scaleX(0);
}


/* 순서 */
.nav--item:nth-child(1) {
    order: 1;
}

.nav--item:nth-child(2) {
    order: 3;
}

.nav--item:nth-child(3) {
    order: 5;
}

.nav--item:nth-child(4) {
    order: 7;
}

.nav--item:nth-child(5) {
    order: 2;
}

.nav--item:nth-child(6) {
    order: 4;
}

.nav--item:nth-child(7) {
    order: 6;
}

.nav--item:nth-child(8) {
    order: 8;
}

/* 검색창 */
.no_hover:hover {
    opacity: 0.3;
}

.search_wrap {
    display: none;
}

.search {
    width: 100%;
    text-align: center;
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 50;
}

.search_wrap::before {
    content: "";
    position: fixed;
    background-color: rgba(41, 41, 41, 0.733);
    backdrop-filter: blur(12px);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10;
}

.search h1 {
    font-family: 'Pretendard';
    color: #fff;
    font-weight: 700;
    text-align: center;
    font-size: 100px;
}

/* input_txt */
.search input[type=text] {
    width: 800px;
    font-size: 30px;
    color: #eee;
    text-align: center;
    font-size: 50px;
    padding: 30px;
    border: none;
    outline: none;
    background: none;
    box-sizing: border-box;
}

.search input[type=text]::placeholder {
    text-align: center;
    color: #c4c4c4;
    font-size: 50px;
    font-style: italic;
}

/* 버튼 */
.btn {
    text-align: center;
    color: #999;
    position: fixed;
    top: 120%;
    left: 50%;
    transform: translate(-50%, -50%);
    outline: none;
    background: none;
    box-shadow: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
}

.btn:hover {
    background-color: #333333;
    color: #fff;
}


/* x버튼 */
.x_btn {
    position: fixed;
    top: 10px;
    right: 30px;
    font-size: 50px;
    font-weight: bold;
    text-decoration: none;
    color: #eee;
    transition: .5s ease;
    transform-origin: 50% 50%;
    z-index: 55;
}

.x_btn::after {
    content: "\00d7";
    border-radius: 0;
    color: #eee;
    font-size: 50px;
}

.nav1 .x_btn:hover {
    transform: rotate(90deg);
    border-radius: 0;
    background-color: transparent;
    color: #eee;
}
/* 헤더 */

/* 푸터 */
footer {
    margin: 50px auto 20px;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.left_box {
    width: 566px;
    margin-left: 30px;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.sns_wrap {
    width: 250px;
    box-sizing: border-box;
    margin-right: 120px;
}

.sns_on {
    padding-left: 5px;
}

.sns_on:hover {
    opacity: 0.5;
}

.right_box {
    margin-right: 30px;
    text-align: right;
    position: relative;
}

.right_box_in {
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.top_btn {
    width: 42px;
    height: 33px;
    display: inline-block;
    margin: 0 15px 15px 0;
}

.b2b_login {
    font-size: 25px;
    font-weight: bolder;
    position: absolute;
    top: -18px;
    right: 0;
}

.b2b_login:hover,
.more:hover {
    font-style: italic;
}

/* 푸터 */

/* 문의창 */
.help {
    width: 94px;
    height: 84px;
    background: url(../images/help_icon.png) no-repeat;
    position: fixed;
    bottom: 85px;
    right: 35px;
    animation: help_ani 1.5s infinite alternate;
}

.help:hover {
    width: 111px;
    height: 74px;
    background: url(../images/help_hover.png) no-repeat;
    animation: none;
}

@keyframes help_ani {
    0% {
        transform: translateY(20px);
    }

    0% {
        transform: translateY(-25px);
    }
}
/* 팝업 */
.popup img{
    display: block;
  }
  
  .popup {
      position: fixed;
      bottom: 70px;
      right: 35px;
      display: none;
  }
  
  .pop_btn {
      width: 290px;
      position: absolute;
      top: 190px;
      right: 40px;
      transition: .3s;
  }
  
  .pop_btn:hover{
      filter: brightness(1.3); 
      transform: translate(2px, 2px);
  }
  
  .popup_in {
      width: 250px;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-box;
      display: flex;
      justify-content: space-between;
      position: absolute;
      bottom: 35px;
      left: 60px;
  }
  
  .pop_home:hover, .pop_conver:hover, .pop_setting:hover {
      opacity: 0.4;
  }
  
/* 문의창 */