
@charset "utf-8";

/* 드래그 */
::selection {
    color: #fff;
    background-color: #000;
  }
/* 드래그 */


/* 스크롤 */
html {
    scroll-behavior: smooth;
}

/* 스크롤바 */
body::-webkit-scrollbar {
    /*스크롤바 전체*/
    width: 10px;
}

body::-webkit-scrollbar-thumb {
    /*스크롤바 막대*/
    background-color: #0e0e0e;
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
}

body::-webkit-scrollbar-track {
    /*스크롤바 막대 외부*/
    background-color: grey;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
}

/* 스크롤바 */
/* 스크롤 */

/* 마우스 */
html,
a,
iframe {
    cursor: none;
}

#cursor {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    pointer-events: none;
    will-change: transform;
    mix-blend-mode: difference;
}

@media (hover: hover) and (pointer: fine) {
    .cursor__circle {
        width: 15px;
        height: 15px;
        margin-top: -50%;
        margin-left: -50%;
        border-radius: 50%;
        border: solid 3px #733232;
        mix-blend-mode: difference;
        transition: opacity 0.3s cubic-bezier(0.25, 1, 0.5, 1),
            background-color 0.3s cubic-bezier(0.25, 1, 0.5, 1),
            border-color 0.3s cubic-bezier(0.25, 1, 0.5, 1),
            width 0.3s cubic-bezier(0.25, 1, 0.5, 1),
            height 0.3s cubic-bezier(0.25, 1, 0.5, 1);
    }

    #cursor.arrow .cursor__circle {
        width: 100px;
        height: 100px;
        background-color: #733232;
        border-color: #733232;
    }

}

/* 마우스 */

* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
}

body {
    font-family: 'Pretendard';
    font-size: 16px;
    color: #333;
    line-height: 1.2;
    min-width: 1320px;
}

/* 버블 */
html,
body {
    position: relative;
}

.bubble {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1000;
    opacity: 0.9;
    overflow: hidden;
}

.bubble img {
    display: block;
    position: absolute;
    animation-name: bubble, bubble2;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
}

/* 상단에서 시작하는 그룹 */
.bubble img:nth-child(1),
.bubble img:nth-child(2),
.bubble img:nth-child(3),
.bubble img:nth-child(4),
.bubble img:nth-child(5),
.bubble img:nth-child(14) {
    bottom: 58%;
    /* 상단에서 시작 */
    animation-duration: 14s, 14s;
    animation-timing-function: linear;
}


/* 하단에서 시작하는 그룹 */
.bubble img:nth-child(6),
.bubble img:nth-child(7),
.bubble img:nth-child(8),
.bubble img:nth-child(9),
.bubble img:nth-child(10),
.bubble img:nth-child(11),
.bubble img:nth-child(12),
.bubble img:nth-child(13) {
    bottom: -100%;
    /* 하단에서 시작 */
    animation-duration: 16s, 15s;
    animation-timing-function: cubic-bezier(0, 0.44, 0.38, 0.39);
}

.bubble img:nth-child(1) {
    width: 54px;
    height: 54px;
    left: 50%;
    animation-delay: 1s;
}

.bubble img:nth-child(2) {
    width: 282px;
    height: 282px;
    left: 15%;
}

.bubble img:nth-child(3) {
    width: 118px;
    height: 118px;
    animation-delay: 1s;
    left: 25%;
}

.bubble img:nth-child(4) {
    width: 213px;
    height: 213px;
    left: 0%;
}

.bubble img:nth-child(5) {
    width: 337px;
    height: 337px;
    animation-delay: 1s;
    left: -44%;
}

.bubble img:nth-child(6) {
    width: 118px;
    height: 118px;
    left: 30%;
    animation-delay: 1s;
}

.bubble img:nth-child(7) {
    width: 1084px;
    height: 1084px;
    animation-delay: 1.5s;
    left: 70%;
}

.bubble img:nth-child(8) {
    width: 716px;
    height: 716px;
    left: 0%;
}

.bubble img:nth-child(9) {
    width: 282px;
    height: 282px;
    animation-delay: 1s;
    left: 5%;
}

.bubble img:nth-child(10) {
    width: 54px;
    height: 54px;
    animation-delay: 1.5s;
    left: 63%;
}

.bubble img:nth-child(11) {
    width: 170px;
    height: 170px;
    animation-delay: 1s;
    left: 86%;
}

.bubble img:nth-child(12) {
    width: 296px;
    height: 296px;
    left: 93%;
}

.bubble img:nth-child(13) {
    width: 54px;
    height: 54px;
    animation-delay: 1.5s;
    left: 0%;
}

.bubble img:nth-child(14) {
    width: 337px;
    height: 337px;
    left: 75%;
}

@keyframes bubble {
    0% {
        transform: translateX(0);
    }

    35% {
        transform: translateX(100px);
    }

    70% {
        transform: translateX(200px);
    }

    100% {
        bottom: 110%;
        transform: translateX(0);
    }
}

@keyframes bubble2 {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* 버블 */


/* 헤더 */
header {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #eeeeee73;
    text-align: center;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.2);
}

header::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: ease 0.5s all;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);

}

.main_logo {
    display: block;
    position: relative;
}

.nav1 {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    right: 50px;
}

.nav1 li {
    margin-left: 20px;
    box-sizing: border-box;

}

/* 메뉴창 */
/* 메뉴 버튼 */
.menu-btn {
    border: none;
    background: none;
    position: absolute;
    right: 40px;
    top: 0px;
    width: 120px;
    height: 40px;
    z-index: 10;
    overflow: hidden;
}

.menu-btn .content {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
}

.menu-btn .content .text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) translateY(var(--translate-y));
    transition: transform 150ms ease;
    font-weight: 900;
    font-size: 25px;
    padding: 10px;
}

.menu-btn .content .text:nth-child(1) {
    --translate-y: 0;
    color: #333333;
}

.menu-btn .content .text:nth-child(2) {
    --translate-y: 150%;
    color: #333333;
}

.menu-btn.active .content .text:nth-child(1) {
    --translate-y: -150%;
}

.menu-btn.active .content .text:nth-child(2) {
    --translate-y: 0;
}




/* 메뉴버튼호버 */
.menu-btn .content:hover .text {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    /* padding: 10px; */
    background: #000;
    color: #fff;
    border-radius: 50px;
    box-sizing: border-box;
}


/* 메뉴네비 */
.nav {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    display: none;
}

.nav::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: #ffffff6b;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(12px);
}

.nav__inner {
    width: 100%;
    height: 100%;
    pointer-events: none;
}


.nav .nav__inner .nav--items {
    width: 100%;
    height: 100%;
    margin: 50px 150px;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.nav .nav__inner .nav--items .nav--item {
    position: relative;
    width: 50%;
    /* margin-bottom: 2rem; */
}

.nav .nav__inner .nav--items .nav--item-link .nav--link {
    /* display: block; */
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    align-items: center;
    transform: translateY(100%);
}

.nav .nav__inner .nav--items .nav--item-link .nav--link-text {
    font-family: 'Averia Serif', sans-serif;
    height: 100%;
    position: relative;
    font-weight: 800;
    font-size: 6vw;
    color: transparent;
    -webkit-text-stroke: 3px #333333;
    overflow: hidden;
}

.nav .nav__inner .nav--items .nav--item-link .nav--link-text::after {
    content: attr(data-text);
    position: absolute;
    left: 0;
    top: 0;
    color: #333333;
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
    transition: clip-path 400ms ease;
}

.nav .nav__inner .nav--items .nav--item-link .nav--link:hover .nav--link-text::after {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.nav .nav__inner .nav--transition-slide {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: scaleX(0);
}


/* 순서 */
.nav--item:nth-child(1) {
    order: 1;
}

.nav--item:nth-child(2) {
    order: 3;
}

.nav--item:nth-child(3) {
    order: 5;
}

.nav--item:nth-child(4) {
    order: 7;
}

.nav--item:nth-child(5) {
    order: 2;
}

.nav--item:nth-child(6) {
    order: 4;
}

.nav--item:nth-child(7) {
    order: 6;
}

.nav--item:nth-child(8) {
    order: 8;
}

/* 검색창 */
.no_hover:hover {
    opacity: 0.3;
}

.search_wrap {
    display: none;
}

.search {
    width: 100%;
    text-align: center;
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 50;
}

.search_wrap::before {
    content: "";
    position: fixed;
    background-color: rgba(41, 41, 41, 0.733);
    backdrop-filter: blur(12px);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10;
}

.search h1 {
    font-family: 'Pretendard';
    color: #fff;
    font-weight: 700;
    text-align: center;
    font-size: 100px;
    margin: 0;
}

/* input_txt */
.search input[type=text] {
    width: 800px;
    font-size: 30px;
    color: #eee;
    text-align: center;
    font-size: 50px;
    padding: 30px;
    border: none;
    outline: none;
    background: none;
    box-sizing: border-box;
}

.search input[type=text]::placeholder {
    text-align: center;
    color: #c4c4c4;
    font-size: 50px;
    font-style: italic;
}

/* 버튼 */
.btn {
    text-align: center;
    color: #999;
    position: fixed;
    top: 120%;
    left: 50%;
    transform: translate(-50%, -50%);
    outline: none;
    background: none;
    box-shadow: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
}

.btn:hover{
    background-color: #333333;
    color: #fff;
}


/* x버튼 */
.x_btn {
    position: fixed;
    top: 10px;
    right: 30px;
    font-size: 50px;
    font-weight: bold;
    text-decoration: none;
    color: #eee;
    transition: .5s ease;
    transform-origin: 50% 50%;
    z-index: 55;
}

.x_btn::after {
    content: "\00d7";
    border-radius: 0;
    color: #eee;
    font-size: 50px;
}

.nav1 .x_btn:hover {
    transform: rotate(90deg);
    border-radius: 0;
    background-color: transparent;
    color: #eee;
}
/* 헤더 */


/* 배너 */
.mb {
    width: 100%;
    display: block;
    margin: 59px auto 0;
}

/* 배너 */

/* 클릭 스무스 */
.spot {
    width: 605px;
    margin: 25px auto 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -moz-box;
    display: flex;
    justify-content: space-between;
    align-self: center;
}

.spot a {
    display: block;
    font-size: 35px;
    font-weight: 900;
    padding: 3px 15px;
}

.spot a:hover {
    border-radius: 50px;
    background: #000;
    color: #fff;
}

/* 클릭 스무스 */

/* 내용 */
h1 {
    font-family: 'Averia Serif', sans-serif;
    font-size: 80px;
    text-align: center;
    font-weight: 500;
    color: #000;
    margin: 150px 0 50px;
}

.con_in,
.con2_in {
    width: 1236px;
    margin: 0 auto 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -moz-box;
    display: flex;
    justify-content: space-between;
    align-self: center;
}

.con_in h6,
.con2_in h6 {
    box-shadow: 10px 10px 10px rgb(221, 221, 221);
    margin-bottom: 10px;
    overflow: hidden;
}

.con_in a img,
.con2_in a img {
    display: block;
    transition: 1s;
}

.con_in a:hover img,
.con2_in a:hover img {
    transform: scale(1.2);
}

.con2_in {
    margin-top: -150px;
}

.con_txt {
    text-align: center;
    font-size: 18px;
    color: #999;
    line-height: 1.4;
    font-weight: 500;
}

.bold,
.bold2 {
    color: #333;
}

.bold {
    font-size: 23px;
    font-weight: 800;
}

.bold2 {
    font-size: 20px;
    margin-top: 30px;
    font-weight: 900;
}

/* 내용 */

/* 푸터 */
footer {
    margin: 50px auto 20px;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.left_box {
    width: 566px;
    margin-left: 30px;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.sns_wrap {
    width: 250px;
    box-sizing: border-box;
    margin-right: 120px;
}

.sns_on {
    padding-left: 5px;
}

.sns_on:hover {
    opacity: 0.5;
}

.right_box {
    margin-right: 30px;
    text-align: right;
    position: relative;
}

.right_box_in {
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.top_btn {
    width: 42px;
    height: 33px;
    display: inline-block;
    margin: 0 15px 15px 0;
}

.b2b_login {
    font-size: 25px;
    font-weight: bolder;
    position: absolute;
    top: -18px;
    right: 0;
}

.b2b_login:hover,
.more:hover {
    font-style: italic;
}

/* 푸터 */

/* 문의창 */
.help {
    width: 94px;
    height: 84px;
    background: url(../images/help_icon.png) no-repeat;
    position: fixed;
    bottom: 85px;
    right: 35px;
    animation: help_ani 1.5s infinite alternate;
}

.help:hover {
    width: 111px;
    height: 74px;
    background: url(../images/help_hover.png) no-repeat;
    animation: none;
}

@keyframes help_ani {
    0% {
        transform: translateY(20px);
    }

    0% {
        transform: translateY(-25px);
    }
}
/* 팝업 */
.popup img{
    display: block;
  }
  
  .popup {
      position: fixed;
      bottom: 70px;
      right: 35px;
      display: none;
  }
  
  .pop_btn {
      width: 290px;
      position: absolute;
      top: 190px;
      right: 40px;
      transition: .3s;
  }
  
  .pop_btn:hover{
      filter: brightness(1.3); 
      transform: translate(2px, 2px);
  }
  
  .popup_in {
      width: 250px;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-box;
      display: flex;
      justify-content: space-between;
      position: absolute;
      bottom: 35px;
      left: 60px;
  }
  
  .pop_home:hover, .pop_conver:hover, .pop_setting:hover {
      opacity: 0.4;
  }
  

/* 문의창 */